<h1 class="mt-32 text-center text-5xl">Join room</h1>
<form action="/room" class="mt-10 flex items-center justify-center gap-4">
	<input
		type="text"
		name="id"
		placeholder="Room name"
		class="input-primary input"
		aria-label="Room name"
	/>
	<button class="btn-primary btn">Join/Create room</button>
</form>
