<script lang="ts">
	import { token } from '$lib/stores/token';
	import type { PageData } from './$types';
	import Room from './Room.svelte';

	export let data: PageData;
	export let username: string = '';

	async function getToken() {
		if (!username.trim()) return alert('Please enter a username');

		const res = await fetch('/api/token', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ username, room: data.id })
		});
		const d = await res.json();
		if (!res.ok) alert(d.message);
		else token.set({ ...d, username });
	}
</script>

{#if !$token}
	<h1 class="mt-32 text-center text-5xl">Enter your username</h1>
	<form on:submit|preventDefault={getToken} class="mt-10 flex items-center justify-center gap-4">
		<input
			type="text"
			bind:value={username}
			placeholder="Username"
			class="input-primary input"
			aria-label="Username"
		/>
		<button class="btn-primary btn">Join room</button>
	</form>
{:else}
	<Room />
{/if}
