<script lang="ts">
	import { token } from '$lib/stores/token';
	import { onMount } from 'svelte';
	import { fade } from 'svelte/transition';
	import { connectToRoom, room, leaveRoom } from '$lib/stores/room';
	import DisplayParticipant from '$lib/Components/DisplayParticipant.svelte';
	import LocalVideo from '$lib/Components/LocalVideo.svelte';

	export let loading = true;
	let micEnabled = $room?.localParticipant?.isMicrophoneEnabled || false;
	let videoEnabled = $room?.localParticipant?.isCameraEnabled || false;
	let screenEnabled = $room?.localParticipant?.isMicrophoneEnabled || false;

	onMount(async () => {
		const t = $token;
		if (t === null) return;
		await connectToRoom(t.token, () => console.log('disconnected'));
		loading = false;
	});

	function toggleMic() {
		try {
			$room?.localParticipant.setMicrophoneEnabled(!micEnabled);
			micEnabled = !micEnabled;
		} catch (e) {
			console.error('Error while ' + (micEnabled ? 'disabling' : 'enabling') + ' microphone');
			console.error(e);
			alert(
				'Could not ' +
					(micEnabled ? 'disable' : 'enable') +
					' microphone. Check console for more info.'
			);
		}
	}

	function toggleVideo() {
		try {
			$room?.localParticipant.setCameraEnabled(!videoEnabled);
			videoEnabled = !videoEnabled;
		} catch (e) {
			console.error('Error while ' + (micEnabled ? 'disabling' : 'enabling') + ' video');
			console.error(e);
			alert(
				'Could not ' + (micEnabled ? 'disable' : 'enable') + ' video. Check console for more info.'
			);
		}
	}

	function toggleScreen() {
		alert('wip');
	}

	$: console.log($room);
</script>

{#if $token !== null}
	{#if loading}
		<h1 class="mt-20 text-center text-5xl font-bold text-gray-500">Joining room...</h1>
	{:else}
		<main in:fade>
			<h1 class="mt-20 text-center text-5xl font-bold">Connected to room</h1>
			<div class="btns">
				<button
					on:click={toggleMic}
					title={micEnabled ? 'Mute' : 'Unmute'}
					class:!btn-primary={micEnabled}
					class:!btn-ghost={!micEnabled}
					>{#if micEnabled}<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							class="h-5 w-5"
						>
							<path d="M7 4a3 3 0 016 0v6a3 3 0 11-6 0V4z" />
							<path
								d="M5.5 9.643a.75.75 0 00-1.5 0V10c0 3.06 2.29 5.585 5.25 5.954V17.5h-1.5a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-1.5v-1.546A6.001 6.001 0 0016 10v-.357a.75.75 0 00-1.5 0V10a4.5 4.5 0 01-9 0v-.357z"
							/>
						</svg>{:else}
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 20 20"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-5 w-5"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z"
							/>
						</svg>{/if}
				</button>
				<button
					on:click={toggleVideo}
					title={videoEnabled ? 'Turn video off' : 'Turn video on'}
					class:!btn-primary={videoEnabled}
					class:!btn-ghost={!videoEnabled}
				>
					{#if videoEnabled}
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							class="h-5 w-5"
						>
							<path
								d="M3.25 4A2.25 2.25 0 001 6.25v7.5A2.25 2.25 0 003.25 16h7.5A2.25 2.25 0 0013 13.75v-7.5A2.25 2.25 0 0010.75 4h-7.5zM19 4.75a.75.75 0 00-1.28-.53l-3 3a.75.75 0 00-.22.53v4.5c0 .199.079.39.22.53l3 3a.75.75 0 001.28-.53V4.75z"
							/>
						</svg>{:else}
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							class="h-5 w-5"
						>
							<path
								d="M1 13.75V7.182L9.818 16H3.25A2.25 2.25 0 011 13.75zM13 6.25v6.568L4.182 4h6.568A2.25 2.25 0 0113 6.25zM19 4.75a.75.75 0 00-1.28-.53l-3 3a.75.75 0 00-.22.53v4.5c0 .199.079.39.22.53l3 3a.75.75 0 001.28-.53V4.75zM2.28 4.22a.75.75 0 00-1.06 1.06l10.5 10.5a.75.75 0 101.06-1.06L2.28 4.22z"
							/>
						</svg>
					{/if}
				</button>
				<button
					on:click={toggleScreen}
					title={screenEnabled ? 'Share screen' : 'Stop sharing'}
					class:!btn-primary={screenEnabled}
					class:!btn-ghost={!screenEnabled}
					><svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="h-5 w-5"
					>
						<path
							fill-rule="evenodd"
							d="M2 4.25A2.25 2.25 0 014.25 2h11.5A2.25 2.25 0 0118 4.25v8.5A2.25 2.25 0 0115.75 15h-3.105a3.501 3.501 0 001.1 1.677A.75.75 0 0113.26 18H6.74a.75.75 0 01-.484-1.323A3.501 3.501 0 007.355 15H4.25A2.25 2.25 0 012 12.75v-8.5zm1.5 0a.75.75 0 01.75-.75h11.5a.75.75 0 01.75.75v7.5a.75.75 0 01-.75.75H4.25a.75.75 0 01-.75-.75v-7.5z"
							clip-rule="evenodd"
						/>
					</svg></button
				>
				<button
					class="!btn-error"
					on:click={() => window.confirm('Are you sure?') && leaveRoom()}
					title="Leave room"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="h-5 w-5"
					>
						<path
							fill-rule="evenodd"
							d="M3.5 2A1.5 1.5 0 002 3.5V5c0 1.149.15 2.263.43 3.326a13.022 13.022 0 009.244 9.244c1.063.28 2.177.43 3.326.43h1.5a1.5 1.5 0 001.5-1.5v-1.148a1.5 1.5 0 00-1.175-1.465l-3.223-.716a1.5 1.5 0 00-1.767 1.052l-.267.933c-.117.41-.555.643-.95.48a11.542 11.542 0 01-6.254-6.254c-.163-.395.07-.833.48-.95l.933-.267a1.5 1.5 0 001.052-1.767l-.716-3.223A1.5 1.5 0 004.648 2H3.5zm9.78.22a.75.75 0 10-1.06 1.06L13.94 5l-1.72 1.72a.75.75 0 001.06 1.06L15 6.06l1.72 1.72a.75.75 0 101.06-1.06L16.06 5l1.72-1.72a.75.75 0 00-1.06-1.06L15 3.94l-1.72-1.72z"
							clip-rule="evenodd"
						/>
					</svg></button
				>
			</div>

			<LocalVideo />

			<div
				class="mx-8 my-4 grid min-w-[200px] max-w-[800px] grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
			>
				{#if $room?.participants}
					{#each [...$room?.participants.values()] as p}
						<DisplayParticipant participant={p} />
					{/each}
				{/if}
			</div>
		</main>
	{/if}
{/if}

<style lang="postcss">
	.btns {
		@apply mt-10 flex items-center justify-center gap-4;
	}

	.btns button {
		@apply btn-square btn;
	}
</style>
