<script lang="ts">
	import type { RemoteParticipant } from 'livekit-client';

	let video: HTMLVideoElement;
	let audio: HTMLAudioElement;

	export let participant: RemoteParticipant;

	$: if (video && participant.isCameraEnabled) {
		participant.videoTracks.forEach((track) => {
			track.videoTrack?.attach(video);
		});
	}
	$: if (audio && participant.isMicrophoneEnabled) {
		participant.audioTracks.forEach((track) => {
			track.audioTrack?.attach(audio);
		});
	}
</script>

{#if !participant.isCameraEnabled}
	<div
		class="flex h-full w-full flex-col items-center justify-center gap-4 rounded-xl bg-base-200 shadow-md"
	>
		<p class="text-bold text-3xl">{participant.name}</p>
		<div class="flex items-center justify-center gap-2">
			{#if !participant.isMicrophoneEnabled}
				<span title="Muted">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 20 20"
						stroke-width="1.5"
						stroke="currentColor"
						class="h-5 w-5"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z"
						/>
					</svg>
				</span>
			{:else}
				<span title="Unmuted">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="h-5 w-5"
					>
						<path d="M7 4a3 3 0 016 0v6a3 3 0 11-6 0V4z" />
						<path
							d="M5.5 9.643a.75.75 0 00-1.5 0V10c0 3.06 2.29 5.585 5.25 5.954V17.5h-1.5a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-1.5v-1.546A6.001 6.001 0 0016 10v-.357a.75.75 0 00-1.5 0V10a4.5 4.5 0 01-9 0v-.357z"
						/>
					</svg>
				</span>
			{/if}
			<span title="Video Off">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					fill="currentColor"
					class="h-5 w-5"
				>
					<path
						d="M1 13.75V7.182L9.818 16H3.25A2.25 2.25 0 011 13.75zM13 6.25v6.568L4.182 4h6.568A2.25 2.25 0 0113 6.25zM19 4.75a.75.75 0 00-1.28-.53l-3 3a.75.75 0 00-.22.53v4.5c0 .199.079.39.22.53l3 3a.75.75 0 001.28-.53V4.75zM2.28 4.22a.75.75 0 00-1.06 1.06l10.5 10.5a.75.75 0 101.06-1.06L2.28 4.22z"
					/>
				</svg>
			</span>
		</div>
	</div>
{:else}
	<div class="relative h-full w-full rounded-xl bg-base-200 shadow-md">
		<video bind:this={video} autoplay loop class="h-full w-full" />
		<div
			class="absolute bottom-0 left-0 flex w-full items-center justify-end gap-2 bg-base-300 bg-opacity-75"
		>
			<p class="text-bold text-3xl">{participant.name}</p>
			{#if participant.isMicrophoneEnabled}
				<span title="Muted">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 20 20"
						stroke-width="1.5"
						stroke="currentColor"
						class="h-5 w-5"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z"
						/>
					</svg>
				</span>
			{:else}
				<span title="Unmuted">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="h-5 w-5"
					>
						<path d="M7 4a3 3 0 016 0v6a3 3 0 11-6 0V4z" />
						<path
							d="M5.5 9.643a.75.75 0 00-1.5 0V10c0 3.06 2.29 5.585 5.25 5.954V17.5h-1.5a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-1.5v-1.546A6.001 6.001 0 0016 10v-.357a.75.75 0 00-1.5 0V10a4.5 4.5 0 01-9 0v-.357z"
						/>
					</svg>
				</span>
			{/if}
			<span title="Video On">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					fill="currentColor"
					class="h-5 w-5"
				>
					<path
						d="M3.25 4A2.25 2.25 0 001 6.25v7.5A2.25 2.25 0 003.25 16h7.5A2.25 2.25 0 0013 13.75v-7.5A2.25 2.25 0 0010.75 4h-7.5zM19 4.75a.75.75 0 00-1.28-.53l-3 3a.75.75 0 00-.22.53v4.5c0 .199.079.39.22.53l3 3a.75.75 0 001.28-.53V4.75z"
					/>
				</svg>
			</span>
		</div>
	</div>
{/if}
{#if participant.isMicrophoneEnabled}
	<audio hidden bind:this={audio} autoplay loop class="hidden" />
{/if}
