<script lang="ts">
	import { room } from '$lib/stores/room';

	let video: HTMLVideoElement;
	let isHidden = false;

	$: if (video && $room?.localParticipant.isCameraEnabled) {
		$room?.localParticipant.videoTracks.forEach((track) => {
			track.videoTrack?.attach(video);
		});
	}
</script>

{#if $room}
	{#if $room.localParticipant.isCameraEnabled}
		{#if isHidden}
			<button
				class="btn-outline btn-square fixed top-4 right-4 z-20"
				title="Show local video"
				on:click={() => (isHidden = false)}
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="icon icon-tabler icon-tabler-caret-down"
					width="44"
					height="44"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					fill="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<path d="M18 15l-6 -6l-6 6h12" transform="rotate(180 12 12)" />
				</svg>
			</button>
		{:else}
			<div class="fixed top-4 right-4 z-20 h-[256px] w-[256px] shadow-md">
				<button
					class="btn-outline btn-square absolute top-4 right-4 z-30"
					on:click={() => (isHidden = true)}
					title="Hide"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="icon icon-tabler icon-tabler-x"
						width="44"
						height="44"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						fill="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path stroke="none" d="M0 0h24v24H0z" fill="none" />
						<line x1="18" y1="6" x2="6" y2="18" />
						<line x1="6" y1="6" x2="18" y2="18" />
					</svg>
				</button>
				<video
					autoplay
					playsinline
					bind:this={video}
					width={256}
					height={256}
					class="border border-white"
				/>
			</div>
		{/if}
	{/if}
{/if}
